:local(.categoryItem) {
  background: rgba(195, 209, 227, 0.819);
  border: 1pt solid;
  padding: 5px;

  div {
    border-top: 1pt solid;
  }
}

:local(.editButton) {
  position: relative;
  background-color: steelblue;
  color: white;
  padding: 5px 15px;
  margin-bottom: 10px;
  margin-top: 5px;
}

:local(.removeButton) {
  background-color: rgb(178, 41, 41);
  color: white;
  padding: 5px 15px;
}