:local(.category-item) {
  display: flex;
  align-items: center;
  &:hover {
    background-color: aquamarine
  }
  button {
    color: #888;
    font-size: 2em;
    border: none;
    background: transparent;
    position: relative;
    bottom: 0.1em;
    &:hover {
      color: black;
    }
  }
}