:local(.category-form) {
  background-color: #ccc;
  display: flex;
  align-items: center;
  input {
    width: 90%;
    font-size: 1em;
    &[type="number"] {
      width: 50%;
      margin-left: 0.1rem;
    }
  }
  button {
    border: none;
    padding: 0.5rem;
    &:hover {
      background-color: aquamarine;
    }
  }
}